# Count job hoppers

Date May 4, 2018
Count employees who once worked at Microsoft, and then eventually worked for Google. From a sample LinkedIn Dataframe

Python workshop via @LinkedIn with solution input from Alexander Godbout

In [1]:
import pandas as pd

In [2]:
# sample emp table struct
employees =  [[1,"MSFT",2015], 
[1,"GOOG",2016], 
[1,"AAPL",2018], 
[2,"MSFT",2015], 
[2,"AAPL",2016], 
[2,"MSFT",2016], 
[2,"GOOG",2016], 
[3,"GOOG",2015], 
[3,"MSFT",2017],
[4,"AAPL",2016],
[4,"MSFT",2018]]

In [4]:
df = pd.DataFrame(employees)

In [5]:
df.columns = ['emp','co','start']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
emp      11 non-null int64
co       11 non-null object
start    11 non-null int64
dtypes: int64(2), object(1)
memory usage: 344.0+ bytes

In [7]:
df.shape

(11, 3)

In [8]:
dfms = df[df['co'] == 'MSFT'].reset_index()

In [9]:
dfms

   index  emp    co  start
0      0    1  MSFT   2015
1      3    2  MSFT   2015
2      5    2  MSFT   2016
3      8    3  MSFT   2017
4     10    4  MSFT   2018

In [10]:
dfgo = df[df['co'] == 'GOOG'].reset_index()

In [11]:
dfgo

   index  emp    co  start
0      1    1  GOOG   2016
1      6    2  GOOG   2016
2      7    3  GOOG   2015

In [12]:
dfmsgo = pd.concat([dfms,dfgo])

In [13]:
dfmsgo

   index  emp    co  start
0      0    1  MSFT   2015
1      3    2  MSFT   2015
2      5    2  MSFT   2016
3      8    3  MSFT   2017
4     10    4  MSFT   2018
0      1    1  GOOG   2016
1      6    2  GOOG   2016
2      7    3  GOOG   2015

In [14]:
dfmsgo.pivot_table('start', index='emp', columns = 'co')

co     GOOG    MSFT
emp
1    2016.0  2015.0
2    2016.0  2015.5
3    2015.0  2017.0
4       NaN  2018.0

In [15]:
dfmsgopiv= dfmsgo.pivot_table('start', index='emp', columns = 'co')

In [16]:
dfmsgopiv

co     GOOG    MSFT
emp
1    2016.0  2015.0
2    2016.0  2015.5
3    2015.0  2017.0
4       NaN  2018.0

In [17]:
len(dfmsgopiv[dfmsgopiv['MSFT'] < dfmsgopiv['GOOG']])

2

In [18]:
# so number of job hoppers who went from Microsoft to Google is 2